body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  text-align: center;
  background-color: #fff;
}

h1 {
  color: rgb(45, 0, 66);
}
.rowMainDay {
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  background-color: #fff;
}

.card {
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 30px;
  line-height: 1;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background-color: beige;
}
#cityShown {
  color: rgb(32, 109, 209);
  border: rgb(32, 109, 209);
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 10px 20px;
  max-width: 20%;
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: ghostwhite;
}

.citySearch {
  display: flex;
  padding: 0, 15px;
  max-width: 60%;
  width: 350px;
  line-height: 1.5;
}

#searchLocBtn {
  background-color: rgb(162, 212, 231);
  gap: 20px;
}

.search {
  text-align: -webkit-center;
}

.days {
  line-height: 1;
}

.today1 {
  box-shadow: 0 30px 50px rgb(231, 229, 229);
  border: #141414;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 20px;
  border-width: 1.5px;
  border-color: #9ca0a5;
  width: 300px;
  background-color: #fff;
  line-height: 1.5;
  flex-basis: content;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
  text-align: -webkit-center;
}

#forecastDates {
  display: inline-block;
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  border: #9ca0a5;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-spacing: 0ch;
  border-radius: 20px;
  min-width: 100px;
  background-color: #fff;
  margin: auto;
  line-height: 1.5;
  align-content: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
#arrow {
  color: rgb(155, 83, 197);
  padding: 15px 0px;
  margin: auto;
  align-content: center;
  vertical-align: middle;
}
