body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  text-align: center;
  background-color: rgb(233, 230, 220);
}

h1 {
  line-height: -0.5;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  background-color: bisque;
}

.card {
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 30px;
  line-height: 1;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.cityShown {
  color: rgb(32, 109, 209);
  border: rgb(32, 109, 209);
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 10px 10px;
  line-height: 1;
  margin-bottom: 15px;
  box-align: left;
}

.citySearch {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  padding: auto;
  width: 350px;
  line-height: 1;
}

button.citySearch {
  margin-left: 30px;
  margin-right: 30px;
}

.days {
  line-height: 1;
}

.today1 {
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  border: #212529;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  border-color: #212529;
  width: 300px;
  background-color: #fff;
  line-height: 1.5;
}

#day {
  display: inline-block;
  border: #212529;
  border-style: solid;
  border-width: 1px;
  border-spacing: 0ch;
  border-radius: 20px;
  min-width: 100px;
  background-color: #fff;
  align-content: center;
  line-height: 1;
}
#arrow {
  display: block;
  color: rgb(155, 83, 197);
  align-items: center;
  padding: 15px 0px;
  align-content: center;
}
