body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  text-align: center;
  background-color: #fff;
}

h1 {
  line-height: 0.5;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
}

.card {
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 30px;
  line-height: 1;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.cityShown {
  color: rgb(32, 109, 209);
  border: rgb(30, 30, 218);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  width: min-content;
  padding: 15px 15px;
  line-height: 1;
}

.citySearch {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
  width: max-content;
  line-height: 1;
}

button.citySearch {
  margin-left: 15px;
  margin-right: 15px;
}
.today1 {
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  -moz-box-align: center;
  border: #212529;
  width: 250px;
  background-color: #fff;
  line-height: 0.5;
}

#day {
  display: inline-block;
  border: #212529;
  border-radius: 20px;
  width: 120px;
  background-color: #fff;
}
#arrow {
  display: block;
  color: rgb(155, 83, 197);
  padding-top: 15px;
  line-height: 1.5;
}
.rounded-pill {
  border-radius: 16px;
  border-style: dashed;
  border-color: rgb(35, 12, 87);
  display: block;
}
